body.page-entrance {

  .wrapper-entrance {
    align-content: center;
    padding: 15px;
    min-height: 100vh;
    background: #fecb2f;
  }

  .form-group__checkbox {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #B7B7B7;
  }

  .block-bg {
    position: relative;
    display: grid;
    justify-items: center;

  }

  .block-bg__svg {
    fill: #fff;
  }

  .block-bg__close-btn {
    position: absolute;
    right: 0px;
    top: 31px;
    padding-top: 5px;
    width: 48px;
    height: 48px;
    background: #1a1a1a;
    border-radius: 50%;
  }

  .block-bg__close-svg {
    fill: #fff;
    width: 18px;
    height: 18px;
  }

  .main__title {
    position: absolute;
    font-size: 80px;
    line-height: 99px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #1a1a1a;
    padding-left: 25px;
    z-index: 1;
  }

  .form__container-entrance {
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translateX(-50%);
  }

  .form-group {
    position: relative;

    font-family: var(--font-secondery);
    font-size: 16px;
    line-height: 18px;

    color: #7b7b7b;
  }

  .form-group input {
    width: 430px;
    height: 56px;
    padding: 16px 24px;

    background: #ffffff;

    border: 1.5px solid #b7b7b7;
    border-radius: 100px;
    margin-bottom: 16px;
  }

  .form-group input:focus {
    border-color: #37f737;
  }

  .form__star {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  input:focus+label+.form__star,
  input:not(:placeholder-shown)+label+.form__star {
    opacity: 0;
  }

  .form-group input::placeholder {
    color: transparent;
  }

  .form-group label {
    position: absolute;
    top: 40%;
    left: 15px;
    transform: translateY(-50%) translateX(0);
    padding: 0 5px;
    cursor: text;
    color: #7b7b7b;
    pointer-events: none;
    font-size: 16px;
    transition: all 0.3s ease;
  }

  .form-group__checkbox {
    padding-left: 5px;
  }

  .form__checkbox-label {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: var(--font-secondery);
    color: var(--text-color-primary);
    font-size: 16px;
  }

  .form__checkbox {
    position: relative;
    width: 20px;
    height: 20px;
  }

  .form__checkbox:checked {
    border: none;
  }

  .form__checkbox:checked::after {
    content: "";
    position: absolute;
    background-image: url(/img/icons/checkBox.svg);
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: none;
  }

  .form-group input:focus+label,
  .form-group input:valid+label,
  .form-group input:not(:placeholder-shown)+label {
    transform: translateY(-50%) translateX(347px);
  }

  .form-group__password input:focus+label,
  .form-group__password input:valid+label,
  .form-group__password input:not(:placeholder-shown)+label {
    transform: translateY(-58%) translateX(240px);
  }

  .form-group__confirm-password input:focus+label,
  .form-group__confirm-password input:valid+label,
  .form-group__confirm-password input:not(:placeholder-shown)+label {
    transform: translateY(-58%) translateX(225px);
  }

  .form-group input:focus {
    caret-color: #37f737;
    border-color: #37f737;
  }

  .form__star {
    position: absolute;
    display: flex;
    top: 17px;
  }

  .form__email-star {
    margin-left: 68px;
  }

  .form__password-star {
    margin-left: 140px;
  }

  .form__forgot-password {
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline !important;
    color: #7b7b7b;
  }

  .form__btn {
    width: 430px;
    height: 52px;
    padding: 16px 32px;
    background: #37f737;
    border-radius: 100px;

    font-family: Unbounded;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;

    color: #1a1a1a;
    margin-top: 42px;

    &.form__btn:active {
      background: #1a1a1a;
      color: #fff;
      transition: ease-in 0.2s;
    }

    &.form__btn:hover {
      background: #1a1a1a;
      color: #fff;
      transition: ease-in 0.2s;
    }
  }

  .toggle-password {
    position: absolute;
    right: 20px;
    top: 18px;
  }

  .toggle__password-svg {
    fill: #7b7b7b;
  }

  .form__checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #7b7b7b;
    border-radius: 3px;
  }

  .account__link-entrance {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 8px;
    text-align: center;
    top: 70%;
  }

  .account__entrance-reg {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #7b7b7b;
  }

  .account__link-enter {
    text-decoration-line: underline;
  }

  // Media

  @media (max-width: 1024px) {
    .main__title-entrance {
      font-size: 60px;
      margin-top: 0;
    }

    .block-bg__close-btn {
      right: -2px;
      top: 19px;
      padding-top: 3px;
      width: 37px;
      height: 37px;

      .block-bg__close-svg {
        width: 14px;
        height: 14px;
      }
    }

    .form-group input {
      width: 380px;
      height: 48px;
      padding: 12px 20px;
      margin-bottom: 10px;
    }

    .form__container-entrance {
      top: 25%;
    }

    .form__btn {
      width: 380px;
      height: 48px;
      padding: 12px 20px;
      margin-top: 30px;
    }

    .account__link-entrance {
      top: 70%;
    }

    .account__entrance-reg {
      font-size: 14px;
    }

    .block-bg__svg {
      fill: #fff;
    }

    .form-group input:focus+label,
    .form-group input:valid+label,
    .form-group input:not(:placeholder-shown)+label {
      transform: translateY(-50%) translateX(300px);
    }

    .form-group__password input:focus+label,
    .form-group__password input:valid+label,
    .form-group__password input:not(:placeholder-shown)+label {
      transform: translateY(-38%) translateX(196px);
    }
  }

  @media (max-width: 768px) {
    .main__title-entrance {
      font-size: 40px;
      margin-top: 10px;
      line-height: 1;
    }

    .block-bg__close-btn {
      right: -6px;
      top: 13px;
      padding-top: 3px;
      width: 30px;
      height: 30px;

      .block-bg__close-svg {
        width: 14px;
        height: 14px;
      }
    }

    .form-group input {
      width: 330px;
      height: 40px;
      padding: 12px 20px;
      margin-bottom: 5px;
    }

    .form-group label {
      font-size: 14px;
    }

    .form__checkbox-label {
      font-size: 14px;
      padding-left: 5px;
    }

    .form__star {
      display: none;
    }

    .toggle-password {
      top: 10px;
    }

    .form__container-entrance {
      top: 20%;
    }

    .form__btn {
      margin-top: 25px;
    }

    .form-group input:focus+label,
    .form-group input:valid+label,
    .form-group input:not(:placeholder-shown)+label {
      transform: translateY(-50%) translateX(260px);
    }

    .form-group__password input:focus+label,
    .form-group__password input:valid+label,
    .form-group__password input:not(:placeholder-shown)+label {
      transform: translateY(-50%) translateX(160px);
    }
  }

  @media (max-width: 425px) {
    .container {
      padding: 10px;
    }

    .wrapper-entrance {
      padding: 0;
    }

    .main__title {
      position: absolute;

      display: block;
      max-width: 170px;
      font-size: 32px;
      line-height: 1;
      padding-top: 10px;
      padding-left: 10px;
      z-index: 1;
    }

    .block-bg {
      background-color: #ffffff;
      height: 100vh;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .block-bg__close-btn {
      right: 10px;
      top: 10px;
      padding-top: 3px;
      width: 38px;
      height: 38px;

      .block-bg__close-svg {
        width: 14px;
        height: 14px;
      }
    }

    .form__container-entrance {
      top: 30%;
    }

    .form__btn {
      width: 330px;
      height: 45px;
    }

    .form-group input {
      width: 330px;
      height: 48px;
      padding: 12px 24px;
      margin-bottom: 16px;
    }

    .toggle__password-svg {
      padding-top: 5px;
    }

    .account__link {
      position: absolute;
      top: 60px;
      left: 10px;

      .account__entrance {
        font-family: var(--font-secondery);
        font-size: 13px;
      }

      .account__link-enter {
        font-size: 13px;
      }
    }
  }

  @media (max-width: 320px) {
    .container {
      padding: 10px;
    }

    .wrapper-entrance {
      padding: 0;
    }

    .main__title-entrance {
      position: absolute;
      top: 17px;
      left: 9px;
      display: block;
      max-width: 170px;
      font-size: 27px;
      line-height: 1;
      padding-top: 10px;
      padding-left: 10px;
      z-index: 1;
    }

    .block-bg__close-btn {
      display: block;
      right: 10px;
      top: 10px;
      padding-top: 5px;
      width: 44px;
      height: 44px;

      .block-bg__close-svg {
        width: 18px;
        height: 18px;
      }
    }

    .form-group input {
      width: 280px;
      height: 48px;
      padding: 12px 24px;
      margin-bottom: 16px;
    }

    .form-group label {
      font-size: 16px;
    }

    .toggle-password {
      top: 15px;
      right: 10px;
    }

    .form__container-registration {
      top: 20%;
    }

    .form__btn {
      width: 280px;
      height: 45px;
      padding: 12px 24px;
      margin-top: 24px;
      font-size: 16px;
    }

    .form__checkbox {
      border: 2px solid #B7B7B7;
    }

    .form__checkbox-label {
      display: flex;
      align-items: center;
      font-size: 12px;
      gap: 6px
    }

    .form__forgot-password {
      font-size: 12px;
    }

    .account__link {
      top: 80px;
      left: 10px;

      .account__entrance {
        font-family: var(--font-secondery);
        font-size: 13px;
      }

      .account__link-enter {
        font-size: 13px;
      }
    }
  }

}
